html {
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
}
header {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    z-index: 3;
}
img {
    height: 200px;
    width: auto;
}
.container {
    display: flex;
    position: relative;
    margin-top: 100px;
    height: 500px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: space-between;
}
.option {
    font-size: 1.9rem;
    background-color: seagreen;
    border-radius: 10px;
    padding: 50px;
    margin: 20px;
    min-width: 200px;
    width: 40%;
    text-align: center;
    z-index: 2;
}
.barcode-space {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.barcode {
    display: none;
}